/* General styles */
body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.header,
.main .container1,
.footer {
  background-color: #1f2937;
}

.header,
.footer {
  min-height: 80px;
  align-items: center;
  padding: 0 15em;
  color: #f9faf8;
}

.container1-left,
.footer,
ul li a {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up-btn a {
  text-decoration: none;
  color: white;
}

.sign-up-btn {
  width: 100px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: 600;
}

.header .links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul li a {
  text-decoration: none;
}

/* Main content styles */

.container1,
.container2,
.container3 {
  margin: 0;
  padding: 0 15em;
  flex: 1;
  height: 400px;
}

.container1 {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container1-left,
.container1-right {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container1-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
}

.container1-right img {
  width: 100%;
}

.container1-left .sign-up-btn {
  background-color: #3882f6;
}

/* Footer styles */

.footer {
  display: flex;
  justify-content: center;
}
